<!-- Hero Section -->
  <section id="home" class="title_image bg-fixed parallax-bg overlay dark-6 fullscreen-banner valign-wrapper" 
  ng-style="{height: frameHeight + 'px'}"
  data-stellar-background-ratio="0.5">
    <div class="valign-cell">
      <div class="container text-center  main-text titlecell">
        <p class="section-title text-capitalize white-text mb-50">NOVOWASH PRESENTS</p>
        <h1 class="intro-title font-greatvibes white-text">Intelligent Interior Care!</h1>
        <div class="small-12 columns hero-button-group">
         <a  class="text-capitalize big-button btn-secondary" ng-click="showAdvanced($event)">Book a Service</a> 
         <a  class="big-button btn-alternate push-top call-to-action trackable track-services_hero">Call: 7505100200</a>
         <!-- <p class="col s6 section-title white-text mb-50">Call: 7505100200</p> -->
        </div>
      </div>
      <!-- /.container -->
    </div>
    <!-- /.valign-cell -->
  </section>
  <!-- Hero Section End -->
