  <!--header start-->
  
<header id="header" class="tt-nav transparent-header nav-border-bottom">
    <div class="header-sticky light-header">

      <div class="container">
        <div id="materialize-menu" class="menuzord">
          <!--logo start-->
          <a href="#" ui-sref="home" class="logo-brand">
                            Novowash
                        </a>
          <ul class="nav menuzord-menu pull-right op-nav light">
            <li ng-class="active==='home' ? 'active' : ''">
              <a href="#home" ui-sref="home" du-smooth-scroll du-scrollspy>Home</a>
            </li>
            <!-- <li ng-class="active==='service' ? 'active' : ''" ng-click="setActive">
              <a href="#services" du-smooth-scroll du-scrollspy>Services</a>
            </li> -->
            <!-- This will be the team information -->
            <li ng-class="active ==='aboutus' ? 'active' : ''">
              <a  ui-sref="aboutus" >About us</a>
            </li>

            <li ng-class="active ==='aboutus' ? 'active' : ''">
              <a  ui-sref="aboutus" >Be a partner</a>
            </li>
            <li>
              <a href="http://www.novowash.com/blog/" data-scroll>Blog</a>
            </li>

          </ul>
          <!-- onepage menu end-->

        </div>
      </div>
    </div>
</header>
  <!--header end-->

  