<!-- <div ng-include="'app/partials/header.html'" ></div> -->

<div ng-include="'app/components/titlePortion/titleSection.html'" ></div>
  
 <service-section ></service-section>
<div ng-include="'app/components/whyus/whyus.html'" ></div>
  
<section id="customerTestinomials" class="section-padding1">
 customerTestinomials

</section>


<section id="partners" class="section-padding1">
 partners

</section>

<section id="infographixCount" class="section-padding1">
 infographixCount

</section>
   <!-- Preloader -->
  <div id="preloader" ng-show="loaded" class="animate-show animate-hide">
    <div class="preloader-position">
      <img src="assets/img/logo-colored.png" alt="logo">
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </div>
  </div>
 