<div class="container">

      <div class="row">
        <div class="col-md-6">
          <h2 class="section-title text-capitalize mb-50">Why choose us?</h2>

          <p>Here we can define the secret formula for the business.Here we can define the secret formula for the business.Here
            we can define the secret formula for the business.</p>

          <p>Description of the above here. Description of the above here.Description of the above here.Description of the above
            here.Description of the above here.</p>

           <!-- <md-button class="btn btn-lg text-capitalize waves-effect waves-dark  mt-20" ng-click="showAdvanced($event)">Book a service</md-button>  -->
        </div>
        <!-- /.col-md-6 -->

        <div class="col-md-5 col-md-offset-1">
          <img src="assets/img/coffee/coffee-cup.png" alt="" width="60%" class="img-responsive">
        </div>
        <!-- /.col-md-6 -->
      </div>
      <!-- /.row -->

</div>