 @import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Playfair+Display');
$san-serif:'Open Sans',
sans-serif;
$serif:'Playfair Display',
serif;

$color-shadow:transparentize(#303336, .9);

/*
.reviewcarausel{
    height: 60rem;
    * {
        user-select: none;
        transition: .3s ease;
        -webkit-font-smoothing: antialiased;
      }
    background-color: #fff;

    img {
        max-width: 100%;
        max-height: 100%;
      }

      .poster {
        border-radius: 4px 4px 0 0;
        margin-bottom: 2vh;
      }
.upperdiv{
    width: 360px;
    min-height: 50rem;
    max-height: 50rem;
    margin: 0 15px;
    border-radius: 4px;
    padding: 0px;
    border: 1px solid hsla(0,0%,61%,.4);
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #303336;
    letter-spacing: 1px;
    margin: 2vh 4vw;
    text-align: center;
    font-family: $serif;
  }
  
  h2 {
    font-size: 1.4rem;
    color: #A0A6AB;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: $san-serif;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  hr {
    width: 100%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border: 0;
    border-bottom: 1px solid #E6E9EC;
  }
  
  p {
    margin: 0vh 1vw;
    text-align: left;
    padding-bottom: 0;
    color: #A0A6AB;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.25rem;
  }
  


.slick-prev {
    left: -39px;
}

.slick-track {
    position: relative;
    top: 0;
    left: -390px;
    display: block;
}

.slick-list {
    padding: 0px 0px !important;
}


@media only screen and (max-width: 500px) {
    .slick-track {
    left: -290px;
        }
}



} //end of parent */

.reviewcarausel{


.md-padding{
    height: 40em;
}

.img {
    max-width: 100%;
    max-height: 100%;
  }
.slick-slide{
    width: 40rem;
    min-height: 54rem;
    max-height: 60rem;
    margin-right: 3rem;
}
.slick-list {
    padding: 0px 0px !important;
}
.slick-prev {
    left: 0;
    z-index: 9;
}
.slick-track {
    position: relative;
    top: 0;
    left: -44rem;
}
.slick-next{
    right: 2rem;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #303336;
    letter-spacing: 1px;
    // margin: 2vh 4vw;
    text-align: center;
    font-family: $serif;
  }
  
  h2 {
    font-size: 1.4rem;
    text-align: center;
    color: #A0A6AB;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: $san-serif;
    font-weight: 700;
    // margin-bottom: 10px;
  }
  
  hr {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #E6E9EC;
  }
  
  p {
    margin: 0vh 0vh;
    text-align: left;
    padding-bottom: 0;
    color: #A0A6AB;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
 
}


.slick-container {
    width: 90%;
    margin: auto;
    padding: 0px;
    .slick-item {}
    
    .slick-item img {
        height: 200px;
        width: 200px;
      margin: auto;
    }

    .slider{
        height: 50% !important;
    }

    .slick-prev {
        left: -36px;
    }
  }
  

  .main-text{

    .section-title{
      font-size: 20px;
      margin-bottom: 10px !important;
    }

    .intro-title{
      font-family: Playfair Display,serif !important;
    }
  }

  .footerText{
    padding-top: 2rem;
    h3 {
      color: #fff;
      font-family: "Open Sans", sans-serif
    }
  }

  .background{
    background-color:  #455a64;
    h2,p{
      color: #fff;
    }
  }

  .para{
    .text{
      line-height:140%;
      text-align: justify; 
      color:#7f7f7f;
    }
  }

  .dialogdemoThemeInheritance {
    .container {
    text-align: center; }
  }

  .section-padding1{
      padding: 70px 0;
    
  }
  .footer_a a {
    color: #7f7f7f;
  }

  .image_round {
      width:100%;
      display: inline-block;
      position: relative;
      box-shadow: 0px 0px 0px 7px #fff, 0px 0px 0px 8px rgba(0, 0, 0, 0.1);
  }

  md-sidenav {
    min-width: 250px !important;
    width: 75vw !important;
    max-width: 250px !important;
    &.md-locked-open, &.md-closed.md-locked-open-add-active {
      min-width: 250px !important;
      width: 75vw !important;
      max-width: 250px !important;
    }
  }

  .md-sidenav-left{
  .collection{
    border: none !important;
  }
  }

  .listdemoListControls {
    md-divider {
      margin-top: 0;
      margin-bottom: 0;
    }
    md-list {
      padding-top: 0;
    }
    md-list-item {
      > {
        p, .md-list-item-inner > p {
          -webkit-user-select: none;
          /* Chrome all / Safari all */
          -moz-user-select: none;
          /* Firefox all */
          -ms-user-select: none;
          /* IE 10+ */
          user-select: none;
          /* Likely future */
        }
      }
      .md-list-item-inner > {
        p, .md-list-item-inner > p {
          -webkit-user-select: none;
          /* Chrome all / Safari all */
          -moz-user-select: none;
          /* Firefox all */
          -ms-user-select: none;
          /* IE 10+ */
          user-select: none;
          /* Likely future */
        }
      }
    }
  }

  .section-padding2{
    padding: 40px !important;
    h2 ,p{
      color: black !important;;
    }
  }

  .inputdemoErrors {
    .inputErrorsApp {
      min-height: 48px;
    }
    md-input-container > p {
      font-size: 0.8em;
      text-align: left;
      width: 100%;
    }
  }

  md-input-container > label{
    font-size : 0.85em !important;
  }

  .nextButton{
    .groupX-right{
      float : right !important;
      padding: 0 20px;
      height: 42px;
      position: relative;
      border-radius: 4px;
      min-width: 130px;
      background-color: #03a9f4;
      font-size: 20px;
      color: #fff;
      &:hover{
        background-color: #03a9f9;
      }
    }
  }

  .centerHeader{
    text-align: center;
  }
  .nextButton{
    padding: 1.5em;
  }
  .projectForm{
    .stronglabel{
      font-size: 1em !important;
      color: black;
      font-family: Arial, Helvetica, sans-serif;
    }
    label > .active{
      font-size: 1em;
    }
    p{
      margin-bottom: 0px;
    }
    .md-focused{
      background-color: #03a9f9 !important;
    }
  }

  .mddialog{
    background-color: transparent !important;
  }

  md-progress-linear{
  .md-container{
    height: 7px !important;
    border-radius: 3em !important; 
    .md-bar{
      height: 7px !important;
      border-radius: 3em !important;
      background-color: #03a9f9 !important;
    }
  }
  } 
  .collection a.collection-item{
    color: black ;
    transition: 0.75s;
  }
  .collection{
    .active{
      background-color: #03a9f9 !important;
    }
    .collection-item{
      line-height: 2.5em;
    }
    }

    .customerror{
      background-color: #E91E63;
      border-radius: 4px;
      color: #ffffff;
      text-align: center;
    }

    .service-padding{
      padding-top: 2%;
    }
    
    .whyDependOnUs {
      background-color: #f4f4f4;
      margin-left: 0;
      text-align: center;
      color: black;
      font-family: FuturaBT;
      .whyDependOnUs__icons .col-md-4 img {
      width: 90%;
  }
  .whyDependOnUs__icons {.col-md-4 img {
      width: 90%;

    }
    }

  .whyDependOnUs__icons{ .col-md-7 {
      text-align: left;
      position: absolute;
      top: 35%;
      left: 40%;
  }
  }
  .whyDependOnUs__icons>div {
      margin-bottom: 20px;
      margin-top: 20px;
  }
    .whyDependOnUs__icons span {
      font-size: 17px;
      font-weight: 700;
  }
    .heading, .menuItems ul li.categoryHeading, .testimonee {
    text-transform: uppercase;
    font-weight: 700;
  }
  }

  .titlecell{
  .btn-secondary:visited {
      color: #fff;
  }
    
  a:visited {
    color: #0bb8e3;
    /* text-decoration: none; */
}
  
  .btn-secondary {
    background-color: #00cded;
    border: 1px solid #00cded;
    color: #fff;
}
  .btn-secondary:hover {
    background-color: #07deff;
    border-color: #07deff;
    text-decoration: none;
}

  .big-button {
     display: inline-block;
    width: 100%;
    max-width: 11.5em;
    padding: 0.5em 0;
    font-size: 1.6em;
    font-family: "Circular","Helvetica",sans-serif;
    line-height: 1.71em;
    border-radius: 4px;
    text-transform: capitalize;
}
  }

  .slider{

    .slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 36px;
    line-height: 0;
    opacity: 2;
    font-weight: 400!important;
    text-transform: none;
    color: #ddd!important;
    background-color: transparent;
    transition: all .3s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    .slider{
      height: 100% !important;
    }
  
}
  }

  .infografix{

    width: 100%;
    height: 150px;
    background-color: #f4f4f4;
    text-align: center;
    padding-top: 25px;

    .infogrText{
      display: inline-block;
      color: #949494;
      margin-right: 70px;
      margin-top: 5rem;
    }
    .spanclass{
      font-size: 50px;
      font-weight: 300;
    }
    .undertext{
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: 1px;
      font-weight: 600;
    }
  }

  .fullscreen-banner{
    
    @media screen and (max-width: 600px) {
      height: 80rem;
    }

    @media screen and (min-width: 601px) {
      height: 64rem;
    }
  }

