
.main-text{

  .section-title{
     font-size: 20px;
    margin-bottom: 10px !important;
  }

  .intro-title{
    font-family: Playfair Display,serif !important;
  }
}

.footerText{
   h3 {
     color: #fff;
     font-family: Playfair Display,serif;
   }
}

.background{
  background-color:  #455a64;
  h2,p{
    color: #fff;
  }
}

.para{
  .text{
    line-height:140%;
    text-align: justify; 
    color:#7f7f7f;
  }
}