$break-small: 768px;
  .main-text{

    .section-title{
      font-size: 16px;
      margin-bottom: 10px !important;
    @media screen and (max-device-width: 768px)
    {
    font-size: 15px !important;
    margin-bottom: 2px!important;
    }
  }
    .intro-title{
      font-family: "Circular","Helvetica",sans-serif !important;
    }
  }

  .footerText{
    padding-top: 2rem;
    h3 {
      color: #fff;
      font-family: "Open Sans", sans-serif
    }
  }

  .background{
    background-color:  #455a64;
    h2,p{
      color: #fff;
    }
  }

  .para{
    .text{
      line-height:140%;
      text-align: justify; 
      color:#7F7F7F;
    }
  }

  .dialogdemoThemeInheritance {
    .container {
    text-align: center; }
  }

  .section-padding1{
      padding: 70px 0;
    
  }
  .footer_a a {
    color: #7f7f7f;
  }

  .image_round {
      width:100%;
      display: inline-block;
      position: relative;
      box-shadow: 0px 0px 0px 7px #fff, 0px 0px 0px 8px rgba(0, 0, 0, 0.1);
  }

  md-sidenav {
    min-width: 250px !important;
    width: 75vw !important;
    max-width: 250px !important;
    &.md-locked-open, &.md-closed.md-locked-open-add-active {
      min-width: 250px !important;
      width: 75vw !important;
      max-width: 250px !important;
    }

    @media screen and (max-device-width: 768px)
    {
      margin-top: 6rem;
      min-width: 26em !important;
      width: 75vw !important;
      max-width: 26em !important;
    }
  }

  .md-sidenav-left{
  .collection{
    border: none !important;
  }
  }

  .listdemoListControls {
    md-divider {
      margin-top: 0;
      margin-bottom: 0;
    }
    md-list {
      padding-top: 0;
    }
    md-list-item {
      > {
        p, .md-list-item-inner > p {
          -webkit-user-select: none;
          /* Chrome all / Safari all */
          -moz-user-select: none;
          /* Firefox all */
          -ms-user-select: none;
          /* IE 10+ */
          user-select: none;
          /* Likely future */
        }
      }
      .md-list-item-inner > {
        p, .md-list-item-inner > p {
          -webkit-user-select: none;
          /* Chrome all / Safari all */
          -moz-user-select: none;
          /* Firefox all */
          -ms-user-select: none;
          /* IE 10+ */
          user-select: none;
          /* Likely future */
        }
      }
    }
  }

  .section-padding2{
    padding: 40px !important;
    h2 ,p{
      color: black !important;;
    }
  }

  .inputdemoErrors {
    .inputErrorsApp {
      min-height: 48px;
    }
    md-input-container > p {
      font-size: 0.8em;
      text-align: left;
      width: 100%;
    }
  }

  md-input-container > label{
    font-size : 0.85em !important;
  }

  .nextButton{
    .groupX-right{
      float : right !important;
      padding: 0 20px;
      height: 42px;
      position: relative;
      border-radius: 4px;
      min-width: 130px;
      background-color: #8FD049;
      font-size: 20px;
      color: #fff;
      &:hover{
        background-color: #00E676;
      }
    }
  }

  .centerHeader{
    text-align: center;
  }
  .nextButton{
    padding: 1.5em;
  }
  .projectForm{
    .stronglabel{
      font-size: 1em !important;
      color: black;
      font-family: Arial, Helvetica, sans-serif;
    }
    label > .active{
      font-size: 1em;
    }
    p{
      margin-bottom: 0px;
    }
    .md-focused{
      background-color: #03a9f9 !important;
    }
  }

  .mddialog{
    background-color: transparent !important;
  }

  md-progress-linear{
  .md-container{
    height: 7px !important;
    border-radius: 3em !important; 
    .md-bar{
      height: 7px !important;
      border-radius: 3em !important;
      background-color: #8FD049 !important;
    }
  }
  } 
  .collection a.collection-item{
    color: black ;
    transition: 0.75s;
  }
  .collection{
    .active{
      background-color: #8FD049 !important;
      color: black !important;
    }
    .collection-item{
      line-height: 2.5em;
    }
    }

    .customerror{
      background-color: #E91E63;
      border-radius: 4px;
      color: #ffffff;
      text-align: center;
    }

    .service-padding{
      padding-top: 2%;
    }
    
    .whyDependOnUs {
      background-color: #fff;
      margin-left: 0;
      text-align: center;
      color: black;
      font-family: FuturaBT;
      &.partner{
        background-color: white;
      }

    .whyDependOnUs__icons {
        img {
        width: 18rem;
        @media screen and (max-device-width: 767px)  {
          width: 14rem !important;
        }
      }
    }

    .textdiv{
      margin-top: 2em;
    }
  .whyDependOnUs__icons{
    span{
      max-width: 15em;
      margin-top: 2rem;
      margin-left: auto;
      margin-right: auto;
      line-height: 1.5em;
      font-size: 17px;
      font-weight: 400;
      font-family: "Circular","Helvetica",sans-serif;
      @media screen and (max-device-width: 767px) {
        font-size: 2rem !important;
      }
    }
  }
  .whyDependOnUs__icons>div {
      margin-bottom: 20px;
      margin-top: 20px;
  }
    
    .heading, .menuItems ul li.categoryHeading, .testimonee {
    text-transform: uppercase;
    font-weight: 700;
  }
  }

  .titlecell{
  .btn-secondary:visited {
      color: #fff;
  }
    
  a:visited {
    color: #0bb8e3;
    /* text-decoration: none; */
}
  
  .btn-secondary {
    background-color: #8FD049;
    border: 1px solid #616161;
    color: #fff;
}
  .btn-secondary:hover {
    background-color: #72A63A;
    border-color: #616161;
    text-decoration: none;
}

  .big-button {
     display: inline-block;
    width: 100%;
    max-width: 11.5em;
    padding: 0.5em 0;
    font-size: 1.6em;
    font-family: "Circular","Helvetica",sans-serif;
    line-height: 1.71em;
    border-radius: 4px;
    text-transform: capitalize;
    @media screen and (max-device-width: 768px)
    {
      max-width: 12.5em;
      line-height: 2.3em;
      margin-bottom: 1em;
    }
}

.btn-alternate {
  background-color: #fff;
  // border: 3px solid #708047;
  // border-radius: 10px;
  color: black;
  font-family: "Circular","Helvetica",sans-serif;
}
  }

  .slider{

    .slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 36px;
    line-height: 0;
    opacity: 2;
    font-weight: 400!important;
    text-transform: none;
    color: #ddd!important;
    background-color: transparent;
    transition: all .3s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    .slider{
      height: 100% !important;
    }
  
}
  }

  .infografix{

    width: 100%;
    height: 12rem;
    background-color: #8A8A8A;
    text-align: center;
    padding-top: 25px;

    .infogrText{
      display: inline-block;
      color: #ffffff;
      margin-right: 12rem;
      text-align: center;
      .material-icons{
        font-size: 3rem;
      }
    }
    .spanclass{
      font-size: 50px;
      font-weight: 300;
    }
    .undertext{
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: 1px;
      font-weight: 600;
    }
  }

  /* .fullscreen-banner{
    
    @media screen and (max-width: 600px) {
      height: 80rem;
    }

    @media screen and (min-width: 601px) {
      height: 64rem;
    }
  } */

  .section-whyus{
    font-size: 40px;
    color: black;
    line-height: 5em;
    font-weight: 400;
    
}
.section-ourpartner{
  font-size: 40px;
  color: black;
  line-height: 4em;
  font-weight: 400;

}

.sectionwhyus{
  font-size: 40px;
  color: black;
  line-height: 1em;
  font-weight: 400;
  
}
.service-text{
  font-size: 40px;
  margin-bottom: 2px;
  color: #ffffff !important;
  opacity: 0.9;
  font-weight: 500;
  line-height: 11rem;
}

.sticky{
  .active{
    a {
      border-bottom: 3px solid #8FD049 !important;
      color: #8FD049 !important;
  }

  }
}

.brand-hover{
   &:hover{
    background-color: transparent !important;
    h2{
      color: white !important;
    }
   }
}

.contentSlide{
  background-color: #ffffff;
  margin-top: 5em;
  height: 30em;
  .slick-item{
    width: 270px !important;
  }
}

.whyussection{
  background-color: #fff !important;
  padding-bottom: 5rem;
  &.whyus{
    padding-bottom: 1rem;
  }
}
.privatetext{
  color: gray !important;
  background-color: #141414 !important;
  text-align: center;
  line-height: 6rem;
}

.partials{
  h1{
    margin-bottom: 1rem;
    font-family: Playfair Display,serif;
    font-weight: 700;
  }
  h3 {
    font-size: 3rem;
    font-weight: bold;
}
h4{
  font-weight: 700;
  margin-bottom: 1rem;
  margin-left: 7rem !important;
}
p{
  margin: 0 7rem 30px !important;
  text-align: justify;
  line-height: 30px;
  @media screen and (max-device-width: 768px)
  {
    margin: 0 2rem 20px!important;
    text-align: justify;
    line-height: 24px;
  }
}
}

ul.faq li span.number {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #70AD47;
  color: #fff;
  font-size: 24px;
}
.oprpartner{
  background-color: #ffffff !important;
}

#services{
  height: 60rem;
  @media screen and (max-device-width:767px){
    height: 100%;
  }
}
#services {
  .text-center{
  height: 15rem;
}
}

.dataTable{
  td{
    text-align: center !important;
}
}