

<section id="team" class="section-padding" class="section-padding grid-news-hover gray-bg">
    <div class="container">

      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="thumb-carousel square-thumb text-center">
            <p>
               What is Novowash?
We are India's premium door-step interior care company, who strive to deliver elite customer experience in interior maintainance. We built technology driven operations that leverage on steam technologies to not just clean but sanitize your interiors. We build services that solve customer problems in interior care and mobile-friendly platforms for service requests.
            </p>
            <ul class="slides">
              <li data-thumb="http://www.novowash.com/assets/images/team/1.jpg">
                <div class="content">
                  <!--<p>Rohan Deshmukh</p>-->
                  <div class="testimonial-meta">
                    Rohan Deshmukh
                    <span>Founder</span>
                    <span>IIT Bombay</span>
                  </div>
                </div>
              </li>
               <li data-thumb="http://www.novowash.com/assets/images/team/2.jpg">
                <div class="content">
                  <!--<p>Rohan Deshmukh</p>-->
                  <div class="testimonial-meta">
                    Anudeep Jain
                    <span>Founder</span>
                    <span>CA,CFA</span>
                  </div>
                </div>
              </li>
               <li data-thumb="http://www.novowash.com/assets/images/team/3.jpg">
                <div class="content">
                  <!--<p>Rohan Deshmukh</p>-->
                  <div class="testimonial-meta">
                    Sandeep Supal
                    <span>Tech(Consultant)</span>
                    <span>IIT Guwahati</span>
                  </div>
                </div>
              </li>
               <li data-thumb="http://www.novowash.com/assets/images/team/4.jpg">
                <div class="content">
                  <!--<p>Rohan Deshmukh</p>-->
                  <div class="testimonial-meta">
                    Swayam Subhra
                    <span>Technology</span>
                    <span>BTech CS</span>
                  </div>
                </div>
              </li>
               <li data-thumb="http://www.novowash.com/assets/images/team/5.jpg">
                <div class="content">
                  <!--<p>Rohan Deshmukh</p>-->
                  <div class="testimonial-meta">
                    Aman Jingalia
                    <span>Operations</span>
                    <span>BCom</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
  </section>