<section id="services" ng-cloak  class="section-padding2" data-stellar-background-ratio="0.5">
    <!-- <div class="container"> -->

      <div class="text-center mb-80">
        <h2 class="section-title text-capitalize white-text">We Provide These Services</h2>
        
        <div class="row">
          <ul>
            <li  class="col m2"  ng-repeat="item in allcategory">
              <div class="row">
            <i class="material-icons">favorite</i>
            <div class="row">
            <a class="" ng-click="showAdvanced($event, item.id)">  {{item.catName}}</a>
            </div>
            
            </li>


          </ul>
        </div>
        
        
        <!-- <md-button class="md-primary md-raised page-scroll btn btn-lg text-capitalize waves-effect waves-dark" ng-click="showAdvanced($event)">Book A Service</md-button> -->
      </div>
    <!-- </div> -->
    <!-- /.container -->
  </section>

<md-divider ng-if="!$last"></md-divider>