

<md-dialog layout="column" layout-padding flex="50" ng-controller="serviceForm">
      <div class="md-toolbar-tools" flex="50">
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="assets/img/icons/ic_close_24px.svg" aria-label="Close dialog">X</md-icon>
        </md-button>
      </div>

  
<md-dialog-content>
  <md-content >
    <form name="projectForm" >
      <div layout="row">
      <md-progress-linear flex="70"  md-mode="determinate" value="{{progressbar}}"></md-progress-linear>
      </div>

      
      <md-divider md-inset ng-if="!$last"></md-divider>
      <div class="nextButton">
        <md-button class="groupX-right" type="submit">Next &nbsp; &rarr;</md-button>
        
      </div>

    </form>
  </md-content>

    </md-dialog-content>
  </md-dialog>
