<section id="services" ng-cloak md-theme="{{theme}}"  class="section-padding1 ">
  <div class="container text-center ">

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2 class="section-title text-capitalize ">Our Services</h2>
        <md-button class="md-primary md-raised page-scroll btn btn-lg text-capitalize waves-effect waves-dark" ng-click="showAdvanced($event)">Book A Service</md-button>
      </div>
    </div>
  </div>
</section>

<md-divider ng-if="!$last"></md-divider>