<md-dialog layout="column"  layout-xs="column" flex="{{isdesktop ? 50 : 100}}" ng-controller="serviceForm">
  <div ng-class="isdesktop ? 'menuDesctop' : 'menuMobile service_mobile md-inline-form'" >
  <div class="md-toolbar-tools" layout="row">
    <strong class="centerHeader" flex="grow">{{categoryServiceData.serviceName}}</strong>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="cancel()">
      <md-icon md-svg-src="assets/img/icons/ic_close_24px.svg" aria-label="Close dialog">X</md-icon>
    </md-button>
  </div>

  <div layout="row">
    <!-- ng-if="pagecount <= stepCount" -->
    <md-progress-linear  style="padding: 10px;" md-mode="determinate" value="{{progressbar}}"></md-progress-linear>
  </div>
  <div>
    <span class="col-sm-12 text-capitalize center"   style="{{!isdesktop ? 'margin-left: 25%;' : ''}}"  >&#40; {{progressbar| number : 0}}&#37; complete &#41;<span>
  </div>




  <md-divider ng-if="!$last" style="{{!isdesktop ? 'padding: 0px !important;' : ''}}"></md-divider>

  <md-dialog-content class="fixedHeightDialog serviceFormMobile" layout-padding >
    <md-content class="mddialog">

      <form name="projectForm" class="projectForm" novalidate ng-cloak >
        <!-- ng-validate="validationOptions" -->
        <div ng-if="categoryServiceData.serviceType ===1">
          <!--  step 1 -->
          <div ng-if="laundry">
              <div ng-if="pagecount===1">
                  <h2><strong>Pick a date and time slot</strong></h2>
                  <!-- example from https://beenote.github.io/angular-material-datetimepicker/ -->
                  <md-input-container  md-is-error="projectForm.serviceDate.$invalid && (projectForm.$submitted || projectForm.serviceDates.$dirty)">
                    <input  mdc-datetime-picker="" date="true" time="true" type="text" id="datetimeedit" placeholder="Date" show-todays-date=""
                      ng-required="true" minutes="false" name="serviceDate" id="serviceDate" min-date="date" edit-input="true" ng-model="myForm.serviceDate"
                      class=" md-input">
                  </md-input-container>
                  <button flex="30" class="md-primary md-icon-button md-button md-ink-ripple" type="button" style="top:-12px;left:-12px;" ng-click="displayDialogEdit(projectForm)">
                    <md-icon class="material-icons ng-scope" role="img" aria-label="today">today</md-icon>
                    <div class="md-ripple-container">
                    </div>
                  </button>
                  <div ng-messages="projectForm.serviceDate.$error" ng-if="projectForm.$submitted || projectForm.serviceDate.$touched">
                    <div ng-message="required" class="customerror" ng-hide="myVar">Date is required.</div>
                  </div>
                </div>

                <!--  step 3 -->
          <div ng-if="pagecount===2">
              <h2><strong layout-padding>Where do you require the service?</strong></h2>
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm md-is-error="projectForm.house.$invalid && (projectForm.$submitted || projectForm.house.$dirty)">
                  <label>House /Flat No</label>
                  <input ng-model="myForm.house" name="house" id="house" ng-required="true">
                  <div ng-messages="projectForm.house.$error" ng-if="projectForm.$submitted || projectForm.house.$touched">
                    <div ng-message="required" ng-hide="myVar">House Name is required.</div>
                  </div>
                </md-input-container>
  
                <md-input-container class="md-block" flex-gt-sm md-is-error="projectForm.landmark.$invalid && (projectForm.$submitted || projectForm.landmark.$dirty)">
                  <label>Landmark(Optional)</label>
                  <input ng-model="myForm.landmark" name="landmark" id="landmark" ng-required="true">
                  <div ng-messages="projectForm.landmark.$error" ng-if="projectForm.$submitted || projectForm.landmark.$touched">
                    <div ng-message="required" ng-hide="myVar">Landmark is required.</div>
                  </div>
                </md-input-container>
              </div>
  
              <div ayout-gt-xs="row">
                <md-input-container style="min-width: 50%" md-is-error="projectForm.locality.$invalid && (projectForm.$submitted || projectForm.locality.$dirty)">
                  <label>Locality</label>
                  <md-select ng-model="myForm.locality" name="locality" ng-required="true">
                    <md-option ng-repeat="local in location" value="{{local}}">
                      {{local}}
                    </md-option>
                  </md-select>
                  <div ng-messages="projectForm.locality.$error" ng-if="projectForm.$submitted || projectForm.locality.$touched">
                    <div ng-message="required" ng-hide="myVar">Locality is required.</div>
                  </div>
                </md-input-container>
              </div>
  
  
            </div>
  
            <!--  step 4 -->
            <div ng-if="pagecount===3">
              <h2><strong>Please enter your contact details</strong></h2>
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Name</label>
                  <input ng-model="myForm.name" ng-required="true" name="name">
  
                  <div ng-messages="projectForm.name.$error" ng-if="projectForm.$submitted || projectForm.name.$touched">
                    <div ng-message="required" ng-hide="myVar">Name is required.</div>
                  </div>
                </md-input-container>
              </div>
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Mobile</label>
                  <input ng-model="myForm.phone"  ng-required="true" name="phone" ng-minlength=10 ng-maxlength=10>
                  <div ng-messages="projectForm.phone.$error" ng-if="projectForm.$submitted || projectForm.phone.$touched">
                    <div ng-message="required" ng-hide="myVar">Phone is required.</div>
                  </div>
                </md-input-container>
  
              </div>
  
              <div ayout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Email</label>
                  <input type="email" ng-model="myForm.email" ng-required="true" name="email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">
                  <div ng-messages="projectForm.email.$error" ng-if="projectForm.$submitted || projectForm.email.$touched">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']" ng-hide="myVar">
                      Your email must be between 10 and 100 characters long and look like an e-mail address.
                    </div>
                  </div>
                </md-input-container>
  
              </div>
  
            </div>
          </div>

          <div ng-if="!laundry">              
            <div ng-if="pagecount===1">  
              <md-input-container md-is-error="projectForm.status.$invalid && (projectForm.$submitted || projectForm.status.$dirty)">
                <md-radio-group name="serviceCostId" id="serviceCostId" ng-model="myForm.serviceCostId" ng-required="true" class="">
                  <md-radio-button style="{{!isdesktop ? 'margin-bottom: 0px !important;' : ''}}" ng-repeat="cost in parent.serviceCost" ng-value="cost.id">{{cost.costDetails}}</md-radio-button>
                </md-radio-group>
              </md-input-container>
              <div ng-messages="projectForm.serviceCostId.$error" ng-if="projectForm.$submitted || projectForm.serviceCostId.$touched">
                <div class="customerror" ng-message="required" ng-hide="myVar">Cost is required.</div>
              </div>
            </div>
            <!--  step 2 -->
            <div ng-if="pagecount===2">
              <h2><strong>Pick a date and time slot</strong></h2>
              <!-- example from https://beenote.github.io/angular-material-datetimepicker/ -->
              <md-input-container  md-is-error="projectForm.serviceDate.$invalid && (projectForm.$submitted || projectForm.serviceDates.$dirty)">
                <input  mdc-datetime-picker="" date="true" time="true" type="text" id="datetimeedit" placeholder="Date" show-todays-date=""
                  ng-required="true" minutes="false" name="serviceDate" id="serviceDate" min-date="date" edit-input="true" ng-model="myForm.serviceDate"
                  class=" md-input">
              </md-input-container>
              <button flex="30" class="md-primary md-icon-button md-button md-ink-ripple" type="button" style="top:-12px;left:-12px;" ng-click="displayDialogEdit(projectForm)">
                <md-icon class="material-icons ng-scope" role="img" aria-label="today">today</md-icon>
                <div class="md-ripple-container">
                </div>
              </button>
              <div ng-messages="projectForm.serviceDate.$error" ng-if="projectForm.$submitted || projectForm.serviceDate.$touched">
                <div ng-message="required" class="customerror" ng-hide="myVar">Date is required.</div>
              </div>
            </div>

            <!--  step 3 -->
          <div ng-if="pagecount===3">
              <h2><strong layout-padding>Where do you require the service?</strong></h2>
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm md-is-error="projectForm.house.$invalid && (projectForm.$submitted || projectForm.house.$dirty)">
                  <label>House /Flat No</label>
                  <input ng-model="myForm.house" name="house" id="house" ng-required="true">
                  <div ng-messages="projectForm.house.$error" ng-if="projectForm.$submitted || projectForm.house.$touched">
                    <div ng-message="required" ng-hide="myVar">House Name is required.</div>
                  </div>
                </md-input-container>
  
                <md-input-container class="md-block" flex-gt-sm md-is-error="projectForm.landmark.$invalid && (projectForm.$submitted || projectForm.landmark.$dirty)">
                  <label>Landmark(Optional)</label>
                  <input ng-model="myForm.landmark" name="landmark" id="landmark" ng-required="true">
                  <div ng-messages="projectForm.landmark.$error" ng-if="projectForm.$submitted || projectForm.landmark.$touched">
                    <div ng-message="required" ng-hide="myVar">Landmark is required.</div>
                  </div>
                </md-input-container>
              </div>
  
              <div ayout-gt-xs="row">
                <md-input-container style="min-width: 50%" md-is-error="projectForm.locality.$invalid && (projectForm.$submitted || projectForm.locality.$dirty)">
                  <label>Locality</label>
                  <md-select ng-model="myForm.locality" name="locality" ng-required="true">
                    <md-option ng-repeat="local in location" value="{{local}}">
                      {{local}}
                    </md-option>
                  </md-select>
                  <div ng-messages="projectForm.locality.$error" ng-if="projectForm.$submitted || projectForm.locality.$touched">
                    <div ng-message="required" ng-hide="myVar">Locality is required.</div>
                  </div>
                </md-input-container>
              </div>
  
  
            </div>
  
            <!--  step 4 -->
            <div ng-if="pagecount===4">
              <h2><strong>Please enter your contact details</strong></h2>
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Name</label>
                  <input ng-model="myForm.name" ng-required="true" name="name">
  
                  <div ng-messages="projectForm.name.$error" ng-if="projectForm.$submitted || projectForm.name.$touched">
                    <div ng-message="required" ng-hide="myVar">Name is required.</div>
                  </div>
                </md-input-container>
              </div>
              <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Mobile</label>
                  <input ng-model="myForm.phone" ng-required="true"  ng-required="true" name="phone" ng-minlength=10 ng-maxlength=10 />
                  <div ng-messages="projectForm.phone.$error" ng-if="projectForm.$submitted || projectForm.phone.$touched">
                    <div ng-message="required" ng-hide="myVar">Phone is required.</div>
                  </div>
                </md-input-container>
  
              </div>
  
              <div ayout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Email</label>
                  <input type="email" ng-model="myForm.email" ng-required="true" name="email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">
                  <div ng-messages="projectForm.email.$error" ng-if="projectForm.$submitted || projectForm.email.$touched">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']" ng-hide="myVar">
                      Your email must be between 10 and 100 characters long and look like an e-mail address.
                    </div>
                  </div>
                </md-input-container>
  
              </div>
  
            </div>

            </div>

          
        </div>
        <div ng-if="categoryServiceData.serviceType ===0">
          <div ng-if="pagecount <= stepCount">
            <h2><strong>Please enter your contact details</strong></h2>
            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label>{{categoryServiceData.serviceFor == 2 ?'Company' : ''}} Name</label>
                <input ng-model="myForm.name" ng-required="true">

                <div ng-messages="projectForm.name.$error" ng-if="projectForm.$submitted || projectForm.name.$touched">
                  <div ng-message="required"  ng-hide="myVar">
                    Please enter your name.
                  </div>
                </div>
              </md-input-container>
            </div>
            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label>{{categoryServiceData.serviceFor == 2 ? 'Company' : ''}} Mobile</label>
                <input ng-model="myForm.phone" ng-required="true" type="number" ng-minlength=10 ng-maxlength=10>
                <div ng-messages="projectForm.phone.$error" ng-if="projectForm.$submitted || projectForm.phone.$touched">
                  <div ng-message="required"  ng-hide="myVar">
                    Please enter your name.
                  </div>
                </div>
              </md-input-container>
            </div>

            <div ayout-gt-xs="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label>{{categoryServiceData.serviceFor == 2 ? 'Company' : ''}} Email</label>
                <input ng-model="myForm.email" ng-required="true">
                <div ng-messages="projectForm.email.$error" ng-if="projectForm.$submitted || projectForm.email.$touched">
                  <div ng-message="required"  ng-hide="myVar">
                    Please enter your name.
                  </div>
                </div>
              </md-input-container>

            </div>
          </div>
        </div>

        <!--  final step -->
        <div ng-if="pagecount > stepCount">
          <div layout="column">
            <div layout="row">
              <strong class="centerHeader" flex="grow">Thank you!</strong>
            </div>
            <div layout="row">
              <h2 class="centerHeader" flex="grow">Your booking is confirmed.</h2>
            </div>
            <div layout="row">
              <h2 class="centerHeader" flex="grow">Our team will get back to you shortly.</h2>
            </div>
          </div>
        </div>

        <md-divider ng-if="!$last"></md-divider>
        <footer>
          <div class="nextButton">
            <md-button class="groupX-right" type="{button" ng-if="pagecount < stepCount" ng-click="actionButtonClick(pagecount+1 ,projectForm)">{{pagecount >= stepCount ?'Submit' : 'Next &nbsp; &rarr;'}} </md-button>
            <md-button class="groupX-right" type="submit" ng-if="pagecount === stepCount" ng-click="projectForm.$valid && serviceFormSubmit()">Submit </md-button>
            <md-button class="md-raised" type="button" ng-click="pagecount=pagecount-1;backButtonClick(pagecount)" ng-if="pagecount > 1 && pagecount < stepCount+1">&#8592; &nbsp; Back </md-button>
            <md-button class="md-raised md-warn" flex-offset="40" type="button" ui-sref="home" ui-sref-opts="{reload: true, notify: true}"
              ng-if="pagecount > stepCount">Home </md-button>
          </div>
        </footer>
      </form>
    </md-content>
  </md-dialog-content>
</div>
</md-dialog>