<section>
 
</section>

<section id="services" class="servicesection overlay dark-3 novo-banner-2 bg-fixed parallax-bg" data-stellar-background-ratio="0.5">
    <div class="text-center">
        <h2 class="service-text  text-capitalize service-padding">Our Services</h2>
      </div>
  <div class="row no-gutter">
    <div class="col-md-3 col-sm-6 col-xs-6" ng-repeat="item in allcategory">
      <div class="featured-box border-right text-center hover brand-hover">
        <div class="featured-wrapper">
          <div class="intro-header">
            <img ng-src="{{item.imageUrl}}" alt="" height=75 width=75 />
            <h2 class="white-text hover-text">{{item.catName}}</h2>
          </div>

          <div class="content">
            <a class="waves-effect  btn btn-larg " ng-click="showAdvanced($event, item.id)">{{item.catType ===2 ? 'Enquire Now' : 'Book Now'}}</a>
          </div>
        </div>
        <!-- /.featured-wrapper -->
      </div>
      <!-- /.featured-box  -->
    </div>
    <!-- /.col-md-3 -->

  </div>


</section>

<!-- <md-divider ng-if="!$last"></md-divider> -->