
  <section id="whyus" class="whyussection whyus">
      <div class="text-center">
          <h2 class="sectionwhyus text-capitalize service-padding">Why us?</h2>
         
       </div>
    <div class="container-fluid whyDependOnUs  section">
      <div class="col-md-12  col-sm-12 col-xs-12">
        <!-- <h3 class="heading">Why depend on us?</h3> -->
        <div class="row whyDependOnUs__icons">
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12 ">
                <img src="assets/img/whyus/trained_professionals.png" class="image" alt="Why depend on Novo Was?">
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-3 col-sm-offset-3 textdiv">
                <span>Trained and dedicated service professionals at your service.</span>
              </div>              
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 ">
              <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12 ">
                    <img src="assets/img/whyus/steam_based_technologies.png" style="width: 17rem;" alt="Why depend on Novo Was?">
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-3 col-sm-offset-3 textdiv">
                    <span>Deploying advanced steam technologies and organic chemicals</span>
                  </div>              
                </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
              <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12 ">
                    <img src="assets/img/whyus/premium_quality.png" style="width: 21rem;" alt="Why depend on Novo Was?">
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-3 col-sm-offset-3 textdiv">
                    <span>Premium service quality with on-time, hassle free service experience</span>
                  </div>              
                </div>
          </div>
          
        </div>
      </div>
    </div>
    
  </section>

<md-divider ng-if="!$last"></md-divider>