<section >
 <div class="text-center">
         <h2 class="section-title text-capitalize service-padding">Why depend on us?</h2>
        
      </div>
</section>
  <section id="whyus" >
    <div class="container-fluid whyDependOnUs section">
      <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
        <!-- <h3 class="heading">Why depend on us?</h3> -->
        <div class="row whyDependOnUs__icons">
          <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="col-md-5 col-sm-6 col-xs-6">
              <img src="assets/img/whyus/depend1.png" alt="Why depend on Novo Was?">
            </div>
            <div class="col-md-7 col-sm-6 col-xs-6">
              <span>One Stop <br>Destination</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="col-md-5 col-sm-6 col-xs-6">
              <img src="assets/img/whyus/depend2.png" alt="Why depend on Novo Was?">
            </div>
            <div class="col-md-7 col-sm-6 col-xs-6">
              <span>Trusted <br>Executives</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="col-md-5 col-sm-6 col-xs-6">
              <img src="assets/img/whyus/depend3.png" alt="Why depend on Novo Was?">
            </div>
            <div class="col-md-7 col-sm-6 col-xs-6">
              <span>On Time <br>Quality Service</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="col-md-5 col-sm-6 col-xs-6">
              <img src="assets/img/whyus/depend4.png" alt="Why depend on Novo Was?">
            </div>
            <div class="col-md-7 col-sm-6 col-xs-6">
              <span>Service <br>Guarantee</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="col-md-5 col-sm-5 col-xs-5">
              <img src="assets/img/whyus/depend5.png" alt="Why depend on Novo Was?">
            </div>
            <div class="col-md-7 col-sm-6 col-xs-6">
              <span>Money <br>Back Guarantee</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="col-md-5 col-sm-6 col-xs-6">
              <img src="assets/img/whyus/depend6.png" alt="Why depend on Novo Was?">
            </div>
            <div class="col-md-7 col-sm-6 col-xs-6">
              <span>Earn <br>Minutes</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </section>

<md-divider ng-if="!$last"></md-divider>