
  <section id="whyus" class="whyussection">
      <div class="text-center">
          <h2 class="section-whyus text-capitalize service-padding">Why us</h2>
         
       </div>
    <div class="container-fluid whyDependOnUs section">
      <div class="col-md-12  col-sm-12 col-xs-12">
        <!-- <h3 class="heading">Why depend on us?</h3> -->
        <div class="row whyDependOnUs__icons">
          <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-6">
              <img src="assets/img/whyus/trained_professionals.png" alt="Why depend on Novo Was?">
            </div>
            <div class="col-md-9 col-sm-9 col-xs-6">
              <span>Trained and dedicated service professionals at your service.</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-6">
            <div class="col-md-4 col-sm-3 col-xs-3">
              <img src="assets/img/whyus/steam_based_technologies.png" alt="Why depend on Novo Was?">
            </div>
            <div class="col-md-8 col-sm-9 col-xs-9">
              <span>Deploying advanced steam technologies and organic chemicals</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-6">
            <div class="col-md-4 col-sm-3 col-xs-3">
              <img src="assets/img/whyus/premium_quality.png" alt="Why depend on Novo Was?">
            </div>
            <div class="col-md-8 col-sm-9 col-xs-9">
              <span>Premium service quality with on-time, hassle free service experience</span>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
  </section>

<md-divider ng-if="!$last"></md-divider>