<section ng-controller="customertestinomial">
  <div class="container">

        <div class="content">

    <script type="text/ng-template" id="tpl.html">
            <!-- <div>HI manish</div> -->

    </script>

  <slick class="slider" settings="slickConfig4" ng-if="slickConfig4Loaded">
                <div ng-repeat="i in number4">
                    <div ng-include="'tpl.html'"></div>
                </div>
            </slick>


             <div>
                <button class="btn btn-info" ng-click="slickConfig4.method.slickGoTo(2)">GoTo(2)</button>
                <button class="btn btn-info" ng-click="slickConfig4.method.slickPrev()">Prev()</button>
                <button class="btn btn-info" ng-click="slickConfig4.method.slickNext()">Next()</button>
                <button class="btn btn-info" ng-click="updateNumber4()">Update/Add()</button>
                <button class="btn btn-info" ng-click='slickConfig4.method.slickRemove(3)'>Remove(3)</button>
                <button class="btn btn-info" ng-click='slickConfig4.method.slickPlay()'>Play()</button>
                <button class="btn btn-info" ng-click='slickConfig4.method.slickPause()'>Pause()</button>
            </div>
        </div>
  </div>
    

</section>

